<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Golf-administrator</title>
</head>
<body>
  <h1 style="margin-left: 30%;">Welcome to the Golf-Administrator</h1>
  <iframe style="margin-left: 30%;" src="https://gifer.com/embed/VOT" width=480 height=326.465 frameBorder="0" allowFullScreen></iframe>

  <div class="delete_golf" style="margin-left: 44%">
    <h2>Golf Action</h2>
    <form>
      ID:<br>
      <input name=id id="delete_golf"><br>
    </form>
      <input type="button" onclick="Send();" value="submit">
  </div>

</body>
<script type="text/javascript">

function Send() {
  var value = document.getElementById("delete_golf").value;
  var xmlhttp = new XMLHttpRequest();
  var Url = "/api/v1/golfs/"+ value;
  console.log(Url);
  xmlhttp.open("DELETE", Url, true);
  xmlhttp.send();
}

</script>

</html>
